body{
    background-color: rgb(26, 26, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Vastus {
    display: flex;
    justify-content: center;
    -webkit-text-fill-color: black;
}

.abi {
    margin-bottom: 2cm;
}

.Tekstialad {
    margin-top: 2cm;
}

.Tekst {
    -webkit-text-fill-color: white;
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right , rgb(0, 81, 255), rgb(0, 191, 255));
}

button:hover {
    background-image: linear-gradient(to bottom right , rgb(0, 110, 255), rgb(0, 225, 255));
}

input {
    width: 50vw;
    padding: 15px;
    border: 3px solid rgb(46, 46, 46);
    border-radius: 10px;
}

input::placeholder {
    opacity: 0.5;
}

p {
    -webkit-text-fill-color: white;
    font-size: large;
}

#Lingid {
    -webkit-text-fill-color: rgb(73, 209, 255);
}

h1 {
    display: flex;
    justify-content: center;
    -webkit-text-fill-color: white;
}

#abi {
    display: flex;
    justify-content: center;
}

#pilt {
    max-width: 100%;
    height: auto;
}