body{
    background-color: rgb(26, 26, 26);
}

.Vastus {
    display: flex;
    justify-content: center;
    margin-top: 2cm;
    -webkit-text-fill-color: black;
}

.Tekstialad {
    margin-top: 2cm;
}

.Tekst {
    -webkit-text-fill-color: white;
    display: flex;
    justify-content: center;
}

input {
    width: 50vw;
    padding: 15px;
    border: 3px solid rgb(46, 46, 46);
    border-radius: 10px;
}
